---
import Page from "@layouts/page";
---

<Page title="Contact me">
	<h1>Contact me</h1>
	<p>WIP</p>
	<p>
		<a
			href="https://twitter.com/yama_sitter"
			target="_blank"
			rel="noopener noreferrer">Twitter</a
		>
	</p>
</Page>
